@import url(main.css);
@import url(navbar.css);

body, html {
    margin: 0;
    padding: 0;
}

.YourServers {
    margin-left: 50px;
}

.MyAccount {
    margin-left: 50px;
}

.MyAccount img {
    border-radius: 10000000px;
    width: 120px;
    height: 120px;
    float: left
}

.MyAccount p {
    padding-left: 20px;
    float: left;
}