@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* Icons */

:root {
    --background: #222325;
    --secondary-background: #36383b;
    --alternate-babkground: #0f1011;
    --highlight: #5d6069;
    --text: #e1e1e1;
    --secondary-text: #cfcdcd;
    --input: #6b6d70;
    --button: #575c5f;
    --warning: #e60000;
}

body {
    background-color: var(--background);
}

input {
    padding-left: 30px;
    font-size: 20px;
    width: 220px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--input);
    outline: none;
    border: none;
    color: inherit;
}

button {
    background-color: var(--button);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--text);
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

h1 {
    color: var(--text);
    font-size: 35px;
    font-family: 'Ubuntu';
}

.hidden {
    display: none;
}

p {
    color: var(--text);
    font-size: 20px;
    font-family: 'Ubuntu';
}

.main {
    position: absolute;
    top: 50px;
    left: 200px;
}

h2 {
    color: var(--text);
    font-size: 25px;
    font-family: 'Ubuntu';
    font-weight: normal;
}