@import url('main.css');

.Login {
    width: 768px;
    height: 458px;
    background-color: var(--secondary-background);
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    border-radius: 25px;
}

input {
    position: relative;
    width: 350px;
    margin-left: 209px;
    margin-right: 75%;
}

input:focus { 
    outline: none;
}

.inputs {
    padding-top: 18px;
}

#password, #username {
    margin-top: 40px;
}

.Placeholders {
    position: absolute;
    font-size: 25px;
}

#username_label, #password_label {
    pointer-events: none;
    margin-left: 220px;
    padding-bottom: 20px;
    transform: translateY(-130px);
    color: #757575;
}

#username_label.foccus {
    transform: translateY(-170px);
    color: var(--text);
    transition: 0.5s;
}

#password_label.foccus {
    transform: translateY(-170px);
    color: var(--text);
    transition: 0.5s;
}

#create {
    float: left;
}

.create {
    padding-top: 18px;
    padding-left: 10px;
}

.Signup {
    width: 768px;
    height: 458px;
    background-color: var(--secondary-background);
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    border-radius: 25px;
}

#cancel {
    float: left;
    padding-left: 10px;
}