@import url('main.css');

.Login {
    width: 768px;
    height: 458px;
    background-color: var(--secondary-background);
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    border-radius: 25px;
}

input {
    position: relative;
    width: 350px;
    margin-left: 209px;
    margin-right: 75%;
    
}

input:focus { 
    outline: none;
}

#create {
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    transform: translate(10px, 190px);
}

button {
    transform: translate(10px, 190px);
}