@import url('main.css');

.Login {
    width: 768px;
    height: 458px;
    background-color: var(--secondary-background);
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    border-radius: 25px;
}

input {
    position: relative;
    width: 350px;
    margin-left: 209px;
    margin-right: 75%;
    
}

input:focus { 
    outline: none;
}

#create {
    float: left;
}

.create {
    padding-top: 230px;
    padding-left: 10px;
}

button {
    
}

.Signup {
    width: 768px;
    height: 458px;
    background-color: var(--secondary-background);
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    border-radius: 25px;
}

#cancel {
    float: left;
    padding-left: 10px;
}