@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* Icons */

:root {
    --background: #222325;
    --secondary-background: #36383b;
    --highlight: #5d6069;
    --text: #e1e1e1;
    --input: #6b6d70;
    --warning: #e60000;
    --secondary-text: #b3b3b3;
}